@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: "theseasons-bd";
  src:
    url("/fonts/theseasons_bold_macroman/theseasons-bd-webfont.woff2")
      format("woff2"),
    url("/fonts/theseasons_bold_macroman/theseasons-bd-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.text-grad {
  background-image: linear-gradient(to top, #000, rgb(0, 0, 0, 0.1));
}

.nav-with-gradient::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  height: 2px;
  background: #fff;
}

@media (min-width: 1280px) {
  .nav-with-gradient::after {
    left: auto;
    right: 0;
    bottom: auto;
    top: 0;
    width: 2px;
    height: 100%;
    background: #fff;
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.noise-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/noise-texture.png");
  opacity: 0.015;
  z-index: 11;
}
